.topbar {
	width: 100%;
	height: 50px;
	background-color: #fff;
}
.topbarwrapper {
	height: 100%;
	/* padding:0px 20px; */
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.topbarIconscontainer {
	position: relative;
	margin-right: 10px;
	cursor: pointer;
	color: #555;
}
/* .topIconBadge
{
    position: absolute;
    width:15px;
    height: 15px;
    top:-5px;
    right:0px;
    color:bisque;
    background-color: red;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;


} */
.topright {
	display: flex;
	align-items: center;
	width: 20vw;
	justify-content: space-around;
}
.topavatar {
	height: 30px;
	width: 40px;
	border-radius: 30px;
	cursor: pointer;
}

.topbarNavbarItem {
	position: relative;
	margin-left: 10px;
	cursor: pointer;
	color: #555;
}

.topleft {
	display: flex;
	align-items: center;
	
	justify-content: space-between;
	
}

.navbar-expand-lg {
	height: 50px;
}

.navbar-nav {
	background-color: #fff;
	align-items: flex-start;
}


.form-control {
	justify-content: space-between;
	display: flex;
	width: 250px;
}
.navbar {
	padding: 0;
}
.icon {
	padding: 13px;
	color: black;
	/* margin-left: 3px; */
	height: 50px;
	font-size: large;
	width: 120px;
	text-align: center;
	
	font-weight: bold;
	
	display: flex;
	/* background-color:#2F3D56; */
	background-color:#fff;
}
