.icon-name
{
    /* width:30%; */
    height:70px;
    background-color:#4267B2;
   text-align:  center;
   font-size: 30px;
   
   margin-right: 4px;
} 
.icon-name2
{
    /* width:30%; */
    height:70px;
    background-color:#1DA1F2;
   text-align:  center;
   font-size: 30px;
   margin-right: 4px;
   
   /* margin: 15px; */
} 
.icon-name3
{
    /* width:30%; */
    height:70px;
    background-color: #0077b5;
   text-align:  center;
   font-size: 30px;
   
   /* margin: 15px; */
} 
 
.icon-row
{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    
      justify-content: space-around;  
     margin-left: 15px;
     background-color: #fff;
     margin-top: 10px;
     
     
     padding-top: 5px;
    padding-bottom: 10px;
    
}

